doctype html
html(lang="en")
    head
        link( rel='stylesheet', type='text/css', href='/css/style.css' )
    body
        #content
            h1 Twitter Avatars 
                span for 
                    a( href='http://twitter.com/rossc1' ) @rossc1
            #avatars
                - for ( var i = 1; i < 366; ++i )
                    .avatar
                        //- img( src='/day/'+i+'.png' )
                        img( src='/img/'+i+'.png' )
                        .desc Day: #{i}
            script( src='/js/jquery-2.1.0.min.js' )
            script( src='/js/main.js' )
        script( type="text/javascript" ).
            var sc_project=9569993; 
            var sc_invisible=1; 
            var sc_security="8ec6b10c"; 
            var scJsHost = (("https:" == document.location.protocol) ?
                "https://secure." : "http://www.");
            document.write("<sc"+"ript type='text/javascript' src='" +scJsHost+"statcounter.com/counter/counter.js'></"+"script>");
        noscript
            .statcounter
                img.statcounter( src="http://c.statcounter.com/9569993/0/8ec6b10c/1/", alt="create counter" )